* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Chewy", cursive; */
  background: #f8f5f5;
}

/* header */

header {
  max-width: 200px;
}

.intro-nav-el {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.intro-logo {
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Noto Sans TC", sans-serif;
}

.intro-ul-el {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.intro-ul-el li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.intro-ul-el a {
  font-size: 23px;
  text-decoration: none;
  letter-spacing: 1px;
  /* border: 2px solid black; */
  /* border-radius: 10px; */
  padding: 0 4px;
  font-family: "Chewy", cursive;
  color: #00bfff;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 2.5px;
  background-color: #ffb3b3;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    max-width: 100%;
  }

  .intro-logo {
    color: #ffb3b3;
    background-color: #bf00ff;
  }

  .intro-nav-el {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    background-color: #bf00ff;
    margin-left: 0;
    justify-content: space-around;
    align-items: center;
  }

  .intro-ul-el {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background-color: #bf00ff;
    width: 50%;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .intro-ul-el li {
    list-style: none;
    margin-bottom: 0;
    opacity: 0;
    background-color: #bf00ff;
  }

  .intro-ul-el a {
    color: #ffb3b3;
    background-color: #bf00ff;
  }

  .burger {
    display: block;
    background-color: #bf00ff;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* main */

main {
  margin-top: -26em;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8rem;
}

.main-h2 {
  margin: 0;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-head {
  margin-top: 1rem;
  font-size: 25px;
  font-family: "Playfair Display", serif;
}

.all-projects-el {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.projects-el {
  width: 120px;
  height: 140px;
  border: 2px solid black;
  border-radius: 10px;
}

.projects {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  background-color: #808080;
}

h4 {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 768px) {
  .grid {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }

  .all-projects-el {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin-top: 1em;
  }
}

/* footer */

footer {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.all-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-head {
  margin-top: 2.5rem;
  padding-bottom: 0.5rem;
  font-size: 25px;
  font-family: "Playfair Display", serif;
}

.all-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.all-contacts div {
  font-size: 18px;
}

.all-contacts a {
  font-size: 21px;
  padding-left: 4rem;
  padding-right: 0.5rem;
  text-decoration: none;
  font-family: "Chewy", cursive;
  font-weight: 0;
  color: #00bfff;
}

.contacts-el {
  letter-spacing: 1px;
}

.copy-right {
  text-align: center;
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 768px) {
  .all-contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
